<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "shared/rails_default" %>
    <%= render "shared/shim" %>
  </head>
  <body>
  <%= render "shared/header" %>
	  <div class="container">
	  		<%= yield %>
	  		<%= render "shared/footer" %>
	  </div>
  </body>
</html>

